[mysqld]
general_log = 1
general_log_file = /var/lib/mysql/general.log
secure-file-priv = NULL
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
skip_name_resolve

[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

